.container {
  width: 100%;
  padding: 0 12px;
}
.sidebar {
  background-color: black;
  margin: 0;
  height: 97vh;
  padding: 5px 0px;
}

/* .nav {
  background-color: #000000;
  margin: 0;
  padding: 0;
} */
.navbar {
  margin: 0;
  padding: 0;
  background-color: black;
  z-index: 100000;
  opacity: 1;
}
