.musicCard {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #181818 !important;
  overflow: hidden;
  border-radius: 40px;
}

.musicCard:hover {
  background-color: #282828 !important;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.45);
}
.musicCard:hover img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.45);
}
.playBtn {
  transition: all 0.5s;
  top: 400px;
  right: 10px;
  position: absolute;
  font-size: 3rem;
  color: #01d03f;
}
.musicCard:hover .playBtn {
  top: 180px;
  right: 10px;
}
.playBtn:hover {
  transform: scale(1.12);
}
.musicCard {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #181818 !important;
  overflow: hidden;
}
button {
  display: flex;
  background-color: transparent;
  height: 50px;
  border: none;
}
.musicCard:hover {
  background-color: #282828 !important;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.45);
}
.musicCard:hover img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.45);
}
.addPlaylistBtn {
  transition-delay: 0;
  transition: all 0.5s;
  top: 400px;
  right: 10px;
  position: absolute;
  font-size: 3rem;
  color: #ffffff;
}
.musicCard:hover .addPlaylistBtn {
  top: 60px;
  right: 10px;
}
.addPlaylistBtn:hover {
  transform: scale(1.12);
}

.likeBtn {
  transition-delay: 1s;
  transition: all 0.5s;
  top: 400px;
  right: 15px;
  position: absolute;
  font-size: 2.2rem;
  color: #fa9600;
}
.musicCard:hover .likeBtn {
  top: 130px;
  right: 15px;
}
.likeBtn:hover {
  transform: scale(1.12);
}
.playBtn {
  transition-delay: 2s;
  transition: all 0.5s;
  top: 400px;
  right: 10px;
  position: absolute;
  font-size: 3rem;
  color: #01d03f;
}
.musicCard:hover .playBtn {
  top: 180px;
  right: 10px;
}
.playBtn:hover {
  transform: scale(1.12);
}
.modulBtn:hover button {
  background-color: #181818;
  padding: 0 10px;
  color: white;
}
.navlink {
  color: rgb(193, 197, 200);
  text-decoration: none;
}
.navlink:hover {
  color: white;
}
